body {
    font-size: large;
    text-align: justify;
    background-color: rgb(17, 3, 30);
    color: rgb(187, 187, 187);
}

#navbar {
    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background-color: #1C6E8C;
}

main {
    padding: 50px;
    position: absolute;
    left: 280px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    margin: 15% 15% 0 0;
    font-size: larger;
    color: rgb(187, 187, 187);
}

.nav-link:hover {
    color: rgb(17, 3, 30);
}

a:not(.nav-link) {
    color: #1C6E8C;
}

li:not(#reference li) {
    margin: 30px 0;
    font-size: larger;
}

header {
    font-size: xx-large;
    color: white;
    margin: 30px 0;
}

code {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    display: block;
    border-radius: 10px;
    background-color: #CBD4C2;
    margin: 15px;
    color: #1C6E8C;
}

span {
    margin: 30px;
}

#double {
    margin: 60px;
}

@media (max-width: 900px) {

    #navbar {
        padding: 20px 50px 50px 50px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 150px;
    }

    #links {
        margin: 0px 100px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100px;
    }

    .nav-link {
        font-size: large;
        margin: 0;
    }

    main {
        top: 200px;
        left: 0;
        z-index: -1;
    }
}

@media (max-width: 650px) {

    div {
        display: flex;
        justify-content: center;
    }

    #links {
        width: 400px;
        margin-left: -10px;
    }

    .nav-link {
        margin: 0 10px;
    }
}